body {
    background-image: url("../images/pokemon3.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Darumadrop One', cursive;
    margin: 0;
    padding: 0;
}
#puchamon {
    padding-top: 5rem;
    padding-left: 23rem;
   
}
#app {
    padding-left: 23rem;
}

.pokemon-container {
    display: flex;
    align-items: center;
}
.pokemon-container img {
    width: 200px;
    height: auto;
}
.pokemon-info {
    margin-left: 1rem;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

#gemu {
    font-size: 35px;
}

input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 1rem;
    background-color: #1d8de9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.5rem 0.5rem;
}

#jugarOtra {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 45rem;
    
 }

/* Media queries */
@media screen and (max-width: 639.98px) {
    body {
        background-image: url("../images/pokemon1.png");
    }
    h1 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
    #puchamon {
        padding-top: 0rem;
        padding-left: 2rem;
    }
    #app {
        padding-left: 1rem;
    }
    #esX {
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .pokemon-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .pokemon-container img {
        width: 30px;
    }
    
    .pokemon-info {
        margin-left: 0;
        margin-top: 1rem;
    }
    #jugarOtra {
        white-space: nowrap; 
    }
}
  
@media screen and (min-width: 640px) and (max-width: 991.98px) {
    body {
        background-image: url("../images/pokemon2.png");
    }
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    #puchamon {
        padding-left: 5rem;
    }
    
    #app {
        padding-left: 5rem;
    }
    #jugarOtra {
        white-space: nowrap; 
    }
}
  
@media screen and (min-width: 992px) and (max-width: 1365.98px) {
    body {
        background-image: url("../images/pokemon3.png");
    }
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    #puchamon {
        padding-left: 10rem;
    }
    
    #app {
        padding-left: 10rem;
    }
}
  
  